---
import CategoryLayout from '../../layouts/CategoryLayout.astro';
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<CategoryLayout>
  <h2>biochar</h2>
  <TopicLayout
    topicText='san juan sustentable'
    page='https://rei.iteso.mx/items/c23f77cc-cfd0-4006-bd53-275f738c9811'
  />
</CategoryLayout>
