---
import CategoryLayout from '../../layouts/CategoryLayout.astro';
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<CategoryLayout>
  <h2>medical devices</h2>
  <TopicLayout
    topicText='nanotess'
    page='https://nanotess.com/'
  />
</CategoryLayout>
