---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <nav class='py-2 px-8 sticky top-0 bg-bgcolor w-full'>
    <a
      id=''
      href='/portfolio/'
      class='text-sm'
      >orlando</a
    >
    <a
      href=''
      class='block text-text hover:text-subtle'
      ><h1 class='text-4xl'>dev</h1></a
    >
  </nav>
</Layout>
