---
import Layout from '../layouts/Layout.astro';
import Sites from '../components/dev/Sites.astro';
import Software from '../components/dev/Software.astro';
import Contributions from '../components/dev/Contributions.astro';
---

<Layout>
  <nav
    class='flex flex-col items-start py-16 px-32 sticky top-0 bg-bgcolor w-full'>
    <a
      id=''
      href='/portfolio/'
      class='text-sm'
      >orlando</a
    >
    <a
      href='/portfolio/dev'
      class='text-text hover:text-subtle'
      ><h1>dev</h1></a
    >
  </nav>
  <section
    class='py-2 px-32'
    id='sites'>
    <Sites />
    <Software />
    <Contributions />
  </section>
</Layout>
