---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import Sites from '../components/dev/Sites.astro';
import Software from '../components/dev/Software.astro';
import Contributions from '../components/dev/Contributions.astro';
---

<Layout>
  <Navbar navText="dev" />
  <section
    class='py-2'
    id='sites'>
    <Sites />
    <Software />
    <Contributions />
  </section>
</Layout>
