---
import Layout from '../layouts/Layout.astro';
import InStudio from '../components/studio/InStudio.astro';
import Events from '../components/studio/Events.astro';
---

<Layout>
  <nav
    class='flex flex-col items-start py-2 px-8 sticky top-0 bg-bgcolor w-full'>
    <a
      id=''
      href='/portfolio/'
      class='text-sm'
      >orlando</a
    >
    <a
      href='/portfolio/studio'
      class='text-text hover:text-subtle'
      ><h1>studio</h1></a
    >
  </nav>
  <section
    class='py-2 px-8'
    id='events'>
    <Events />
  </section>
  <section
    class='py-2 px-8'
    id='in-studio'>
    <InStudio />
  </section>
</Layout>
