---
import CategoryLayout from '../../layouts/CategoryLayout.astro';
---

<CategoryLayout>
  <h2>sites</h2>
  <h3>jugamos creando</h3>
  <h3>txc</h3>
  <h3>logisnay</h3>
  <h3>devlib</h3>
</CategoryLayout>
