---
interface NavbarProps {
  navText: string;
}

const { navText } = Astro.props as NavbarProps;
---

<nav class='flex flex-col items-start pt-16 pb-8 sticky top-0 bg-bgcolor w-full'>
  <a
    href='/portfolio/'
    class='text-sm'
    >orlando</a
  >
  <a
    href={`/portfolio/${navText.toLowerCase()}`}
    class='text-text hover:text-subtle'
    ><h1>{navText}</h1></a
  >
</nav>
