---
interface NavbarProps {
  navText: string;
}

const { navText } = Astro.props as NavbarProps;
---

<nav
  class='flex justify-between items-center pt-16 pb-4 sticky top-0 bg-bgcolor/60 backdrop-blur-md w-[140%] mx-[-20%] px-[20%] xl:w-[calc(100%+32rem)] xl:-mx-64 xl:px-64 z-50'>
  <div class='flex flex-col items-start'>
    <a
      href='/'
      class='text-sm'
      >orlando</a
    >
    <a
      href={`/${navText.toLowerCase()}`}
      class='text-text hover:text-subtle'
      ><h1>{navText}</h1></a
    >
  </div>
  <div class='flex gap-4 lg:gap-6 items-center'>
    <a href='mailto:orlandoesparza6@outlook.com'>email</a>
    <a
      href='https://wa.me/523310440089'
      target='_blank'
      rel='noopener noreferrer'
      >whatsapp</a
    >
  </div>
</nav>
