---
interface NavbarProps {
  navText: string;
}

const { navText } = Astro.props as NavbarProps;
---

<nav
  class='flex flex-col items-start pt-16 pb-4 sticky top-0 bg-bgcolor/60 backdrop-blur-md w-[120%] mx-[-20%] px-[20%] xl:w-[calc(100%+160rem)] xl:-mx-128 xl:px-128 z-50'>
  <a
    href='/portfolio/'
    class='text-sm'
    >orlando</a
  >
  <a
    href={`/portfolio/${navText.toLowerCase()}`}
    class='text-text hover:text-subtle'
    ><h1>{navText}</h1></a
  >
</nav>
