<main class='flex flex-col justify-center items-center w-full h-screen'>
  <h1 class='mb-1'>orlando</h1>
  <h2 class='text-muted mb-4 text-base'>portfolio</h2>
  <nav class='flex flex-col justify-center items-center text-lg'>
    <a href='/portfolio/studio'>studio</a>
    <a href='/portfolio/dev'>dev</a>
    <a href='/portfolio/r&d'>r&d</a>
  </nav>
</main>

<style>
  main {
    font-family: var(--font-mono);
  }
  a {
    margin: calc(1rem / 8) 0;
  }
  a::after {
    content: '';
    position: absolute;
    width: 400%;
    height: 1px;
    bottom: 0px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      #007bff8b 30%,
      #007bff8b 50%,
      #007bff8b 70%,
      transparent 100%
    );
    border-radius: 999px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }

  a:hover::after {
    transform: scaleX(1);
  }
</style>
