---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <meta
      name='robots'
      content='index, follow'
      <meta
      name='author'
      content='Orlando Antonio Jiménez Esparza'
    />
    <title>Orlando JE</title>
    <meta
      name='keywords'
      content='Orlando Jiménez Esparza, Orlando Antonio Jiménez Esparza, Orlando Jimenez Esparza, Orlando Antonio Jimenez Esparza, Orlando, Jiménez Esparza, Antonio Jiménez Esparza, Orlando Antonio, Orlando Jiménez, Orlando Esparza, Antonio Jiménez, Antonio Esparza, Jiménez Esparza, Fotografía, Desarrollador, Photography, Developer, R&D, fotógrafo, desarrollador, investigación y desarrollo, research and development, photographer'
    />
    <meta
      name='description'
      content='Orlando Jiménez Portfolio'
    />
    <ClientRouter />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
