---
import CategoryLayout from '../../layouts/CategoryLayout.astro';
import ImageCard from '../ImageCard.astro';
---

<CategoryLayout>
  <h2>commercial</h2>
  <h3>txc 1st drop</h3>
  <h3>jugamos creando</h3>
  <div class='flex space-x-1'>
    <ImageCard
      imagePath={'/src/assets/studio/jugamos-creando/jc-oso.webp'}
      altText='jugamoscreando'
      class='w-1/2'
    />
    <ImageCard
      imagePath={'/src/assets/studio/jugamos-creando/jc-oso.webp'}
      altText='jugamoscreando'
      class='w-1/2'
    />
  </div>
</CategoryLayout>
